@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luxurious+Roman&family=Playball&family=Poiret+One&family=Sawarabi+Mincho&family=Titillium+Web:ital@1&display=swap');

  *{  box-sizing: border-box;}

  h1 {
    color: blue;
    font-family: 'Fredoka One', cursive;
    text-align: center;
      }

  h2 {
    color: purple;
    font-family: 'Poiret One', cursive;
     }

     h3 {
       font-family: 'Sawarabi Mincho', sans-serif;
       font-weight: 700;
     }

  p {font-family: 'Luxurious Roman', cursive;}

   header {
    width: 100%;
    background: #fddfdf;
    padding: 2rem 0;

    }

    nav {
      color: red;
      border-style: double none groove none;
      border-width: 2px;
      border-color: red blue blue;
    }

    .project{
      height: 18rem;
      width: 15rem;
      background: #defde0;
      text-align: center;
    }

    .portfolio{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      flex-basis: 75%;
    }



  a {font-family: 'Titillium Web', sans-serif;}

    img {
    border: 2px solid #7fffd4;
    width: 10rem;
    height: 10rem;
  }

  body{
  background-color: #def3fd;
    }

  footer{
  width: 100%;
  background-color: #fddfdf;

  padding: 2rem 0;
  font-size: 1rem;
  text-align:center;
  }

   p:nth-child(odd) {
      color: green;
      }

   p::first-letter {font-size: 150%}

  nav {
     display: flex;
     gap: 0.5rem;
   }

  .classy:hover, .classy:focus {
    flex: 1;
    background-color:#fcf7de;
    text-align: center;
    transition: all 0.5s ease-out;
    }

  img:hover {
    transition: border 4s ease-in 1s;
    width: 15rem;
    height: 15rem;
   }

      label {
        font-size: 1.5rem;
       color: purple;
       font-weight: bold;
       font-family: 'Poiret One', cursive;
       display: inline-block;
   }

   .contactform {
     display: flow-root;
     margin: 0 10% 0 10%;
}



.row {
  display: flex-root;
  justify-content: flex-end;
  padding: .5em;
}

   textarea {
     border: none;
     border-radius: 2px;
     cursor:pointer;
     box-sizing: border-box;
     transition: width 0.2s ease-in-out;
   }
   textarea:focus {
      border: 5px solid lightgreen;
      width: 100%;
        height: 10%;
        font-size: 1.5rem;
}

   input[type=text], [type=email], [type=tel] {
     border: none;
     border-radius: 2px;
     font-size: 1.5rem;
     cursor:pointer;
     box-sizing: border-box;
    transition: width 0.2s ease-in-out;
}

    input[type=text]:focus, [type=email]:focus,[type=tel]:focus {
        border: 5px solid lightgreen;

          height: 2.5rem;
          font-size: 2rem;
}

    input[type=submit] {
      width: 80%;
      margin: 1% 10% 1% 10%;
      padding: 1rem;
      background: #de3163;
      color: white;
      font-size: 1.5rem;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
