@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luxurious+Roman&family=Playball&family=Poiret+One&family=Sawarabi+Mincho&family=Titillium+Web:ital@1&display=swap');

  h1 {
    color: blue;
    font-family: 'Fredoka One', cursive;
      }

  h2 {
    color: blue;
    font-family: 'Poiret One', cursive;
     }

  p {
   font-family: 'Luxurious Roman', cursive;

   }
.project{height: 10rem;

    }

    .portfolio{
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-basis: 50%;
    }

  h3 {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: 700;
    color: sienna;
    border-style:double;
    width:12rem;
    margin: 1rem;
    padding: .5rem;
  }
  a:hover {
    background-color:lime;
  }
  a {
    font-family: 'Titillium Web', sans-serif;
    background-color:cyan;
    width: 12rem;
    margin: 1rem;
    padding: .5rem;
  }
  a.classy:hover {
    background-color:salmon;
  }
  a.classy {
    background-color:bisque;
    box-sizing: border-box;
    width: 10rem;
    margin: 2rem;
    padding: .5rem;
  }
  nav {
    color: red;
    border-style: double none groove none;
    border-width: 2px;
    border-color: red blue blue;
  }
  body {
    background-color: #e0ffff;
    background-image: url("../images/drivingcolorado1.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 450px 100px;
      }
  *{  box-sizing: border-box;}

  img {
    border: 2px solid #7fffd4;
    width: 12rem;
    margin: 1rem;
    padding: .5rem;
  }

  .footer{
    clear: both;
    position: bottom;
  }
